[mysqld]
user=mysql
basedir=/usr/local/mysql5.7/mysql
datadir=/usr/local/mysql5.7/data/3306
server_id=6
port=3306
socket=/tmp/mysql.sock
log_error=/var/log/mysql5.7/3306/mysql.err.log
log_bin=/var/log/mysql5.7/3306/mysql_bin
sync_binlog=1
binlog_format=row
expire_logs_days=14
gtid-mode=on
enforce-gtid-consistency=true
slow_query_log=1
slow_query_log_file=/var/log/mysql5.7/3306/slow.log
long_query_time=1
log_queries_not_using_indexes=1
max_connections=1500
[mysql]
socket=/tmp/mysql.sock
prompt=3306 [\\d]>
