[mysqld]
user=mysql
log_error=/var/log/mysql/mysql.err.log
log_bin=/var/log/mysql/mysql_bin
sync_binlog=1
binlog_format=row
max_binlog_size=16M
expire_logs_days=14
gtid-mode=on
enforce-gtid-consistency=true
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=1
log_queries_not_using_indexes=1
autocommit=1
max_connections=1500
max_connect_errors=50
interactive_timeout=1200
wait_timeout=600
innodb_flush_log_at_trx_commit=1
innodb_flush_method=fsync
innodb_buffer_pool_size=500M
innodb_log_buffer_size=32M
innodb_log_file_size=48M
innodb_log_files_in_group=2

skip-grant-tables

[client]
socket=/tmp/mysql.sock

